@font-face {
  font-family: Reckless;
  src: url(./fonts/RecklessCondensedS-TRIAL-Book.woff);
}
@font-face {
  font-family: Figtree;
  src: url(./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}
@font-face {
  font-family: Midnight;
  src: url(./fonts/midnight-sans-rd-12-semibold-trial.otf);
}

:root {
  --btn-padding: 0.9rem 3.5rem 0.9rem 3.5rem;
  --btn-radious: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(251, 249, 235);
  position: relative;
}
main {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.navbar {
  background-color: rgb(42, 40, 87);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Figtree;
  font-weight: 900;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 0;
}

nav {
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  font-family: Reckless;
  border: 1px solid black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

nav #hamburger {
  display: none;
  position: relative;
  filter: invert(1);
  font-size: 1rem;
}

.nav-part-1 {
  display: flex;
  gap: 1rem;
}
.nav-part-1 div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav-part-1 div h4 {
  font-size: 1.5rem;
  font-weight: 100;
}
.nav-part-1 div i {
  height: 20px;
  width: 20px;
  font-size: 1rem;
  background-color: royalblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  transition: all ease 2ms;
}

.nav-part-1 div i:hover {
  background-color: yellow;
  transform: rotate(180deg);
}

.nav-part-1 #star h4 {
  position: relative;
  padding-bottom: 0.2rem;
}

.nav-part-1 #star h4::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: all ease 0.4s;
}

#star h4:hover::after {
  width: 100%;
}

.nav-part-2 {
  display: flex;
  width: 4vh;
  padding-left: 6rem;
}
.nav-part-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-part-3 h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  padding-bottom: 0.4rem;
  position: relative;
}

.nav-part-3 svg {
  height: 2rem;
}

.nav-part-3 h5::after {
  content: "";
  position: absolute;
  height: 0.8px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: all ease 0.4s;
}

.nav-part-3 h5:hover::after {
  width: 100%;
}

#section-1 {
  height: 90vh;
  width: 100%;
  background-image: url("https://www.twoleavestea.com/cdn/shop/files/AlpineBerry.webp?v=1774284236&width=2700.0");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 2.4rem;
}

#section-1 .container-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#section-1 .container-1 h1 {
  font-size: clamp(3rem, 3vw, 1rem);
  width: 47vh;
  font-family: Reckless;
  line-height: 4rem;
  color: white;
  font-weight: 500;
}

#section-1 .container-1 p {
  width: 76vh;
  line-height: 1.3rem;
  font-size: 1.2rem;
  color: white;
}
#section-1 .container-1 button {
  padding: var(--btn-padding);
  border-radius: var(--btn-radious);
  font-size: 1.2rem;
  border: none;
  width: fit-content;
  color: white;
  background-color: rgb(42, 40, 87);
}

#section-2 {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#section-2 h1 {
  font-family: Reckless;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.3rem;
  width: 55vw;
  text-align: center;
}

#section-2 button {
  padding: 0 0.2rem;
  font-size: 3.5rem;
  font-family: Midnight;
  font-weight: 900;
  border-radius: 10px;
  background-color: rgb(218, 174, 234);
  transform: rotate(-3deg);
}

#section-3 {
  height: 80vh;
  width: 100%;
  display: flex;
  padding-left: 2.4rem;
  gap: 1.4rem;
  /* overflow: scroll; */
  overflow-x: auto;
  scroll-behavior: smooth;
}

#section-3::-webkit-scrollbar {
  height: 8px;
}

.container-3 {
  height: 500px;
  width: 320px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  overflow: hidden;
  flex-shrink: 0;
}

.container-3 .image-1 {
  height: 50vh;
  width: 100%;
  background-color: rgb(193, 238, 145);
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-3 .image-1 img {
  height: 40vh;
}
.image-1 img:hover {
  height: 45vh;
}

.image-1 .name-text {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  top: 0.9rem;
  left: 1rem;
  font-family: Midnight;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
}

.image-1 .rate {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  font-weight: 300;
}
.image-1 .add {
  position: absolute;
  font-family: Figtree;
  font-size: 0.9rem;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background-color: white;
  padding: 0.2rem 0.5rem;
  border: 1px solid black;
  border-radius: 7px;
}

.container-3 h2 {
  font-family: Reckless;
  font-weight: 400;
}
.container-3 p {
  font-family: Figtree;
}

#section-4 {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-bottom: 2px solid black;
}

#section-4 .line-1 {
  display: flex;
  gap: 1rem;
}

#section-4 .line-1 .line-11 {
  height: 0px;
  width: 2.5vw;
  border: 1px solid black;
}

#section-4 button {
  background-color: rgb(42, 40, 87);
  padding: var(--btn-padding);
  border-radius: var(--btn-radious);
  font-family: Figtree;
  font-size: 1.2rem;
  color: white;
}

#section-5 {
  min-height: 100vh;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-left: 16rem;
  padding-bottom: 10rem;
}

.text-1 {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.text-1 button {
  width: fit-content;
  font-family: Midnight;
  font-size: 3.8rem;
  padding: 0 0.2rem;
  border-radius: 8px;
  transform: rotate(-2deg);
  background-color: rgb(255, 127, 49);
}
.text-1 h1 {
  font-family: Reckless;
  font-weight: 300;
  font-size: 4rem;
  width: 55vw;
}
.text-1 input {
  font-family: Reckless;
  width: fit-content;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: transparent;
}

.text-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text-2 h4 {
  font-weight: 300;
}

.text-21 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.text-22 span {
  font-family: Reckless;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: rgb(218, 234, 255);
  border-radius: 8px;
  border: 1px solid black;
}

#section-6 {
  padding-top: 10rem;
  background-image: url("https://www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=2560%22%20alt=%22Aerial%20view%20of%20a%20dense%20forest%20with%20green%20trees%22%20srcset=%22//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=600%20600w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=900%20900w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=1200%201200w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=1600%201600w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=2000%202000w%22%20width=%222560%22%20loading=%22eager%22%20class=%22scrolling-media__media%22%20fetchpriority=%22high%22%20style=%22translate:%20none;%20rotate:%20none;%20scale:%20none;%20transform:%20translate3d(0px,%20-142.49px,%200px);");
  background-position: center;
  background-size: cover;
  min-height: 250vh;
  width: 100%;
  position: relative;
  z-index: -1;
}

#section-6 .btn-6 {
  font-family: Midnight;
  font-size: 3.8rem;
  padding: 0 0.2rem;
  background-color: rgb(162, 201, 252);
  border-radius: 8px;
  position: absolute;
  left: 38vw;
}

#section-6 .header-text-1 {
  position: absolute;
  color: white;
  top: 60vh;
  left: 30vw;
  font-family: Midnight;
  font-size: 11rem;
  width: 30vw;
  line-height: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section-6 .header-text-2 {
  position: absolute;
  color: white;
  top: 130vh;
  left: 8vw;
  width: 83vw;
  font-family: Reckless;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4rem;
  text-align: center;
}
.logo-1 {
  position: absolute;
  height: 14vh;
  bottom: 20%;
  left: 30vw;
}
.logo-2 {
  position: absolute;
  height: 14vh;
  bottom: 20%;
  left: 45vw;
}
.logo-3 {
  position: absolute;
  height: 15vh;
  bottom: 20%;
  right: 30vw;
}

#section-6 .btn-7 {
  position: absolute;
  bottom: 10%;
  padding: var(--btn-padding);
  border-radius: var(--btn-radious);
  font-size: 1rem;
  left: 42vw;
}

#section-7 {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16rem;
  gap: 1rem;
}

#section-7 button {
  width: fit-content;
  padding: 0 0.1rem;
  font-family: Midnight;
  font-size: 4rem;
  transform: rotate(-2deg);
  background-color: rgb(115, 188, 37);
  border-radius: 10px;
}

#section-7 h1 {
  width: 50vw;
  font-family: Reckless;
  font-size: 4rem;
  font-weight: 300;
}

#section-8 {
  height: 80vh;
  width: 100%;
  padding: 0 2rem;
}

.box-8 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

.box-81 {
  height: 60vh;
  width: 280px;
  border: 1px solid black;
  border-radius: 11px;
  position: relative;
  flex-shrink: 0;
}

.box-81 .part-1-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 5rem;
  left: 1rem;
}

.part-1-box h1 {
  font-family: Reckless;
  font-weight: 300;
  text-align: center;
  width: 15vw;
  font-size: 2rem;
}

#text-81 {
  font-size: 1.5rem;
}

.part-1-box p {
  font-family: Reckless;
  font-weight: 300;
  color: rgb(84, 72, 72);
}
.box-81 .part-2-box {
  position: absolute;
  border: 1px solid black;
  padding: 0.5rem 0rem;
  border-radius: 11px;
  width: 90%;
  bottom: 2vh;
  left: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.part-2-box img {
  height: 10vh;
  border-right: 1px solid black;
}

.part-2-box h5 {
  font-weight: 400;
  font-family: Figtree;
}

.part-2-box button {
  padding: 0.8rem 0.8rem;
  border-radius: 2rem;
  font-weight: Figtree;
  font-size: 1rem;
}

#section-9 {
  height: 90vh;
  width: 100%;
  display: flex;
}

#section-9 .box-9-part-1 {
  height: 90vh;
  width: 50%;
}

#section-9 .box-9-part-1 img {
  height: 100%;
  width: 100%;
}

#section-9 .box-9-part-2 {
  height: 90vh;
  width: 50%;
  background-color: rgb(42, 40, 87);
  padding-left: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

#section-9 .box-9-part-2 h1 {
  font-family: Reckless;
  font-size: 5.4rem;
  color: white;
  font-weight: 300;
}
#section-9 .box-9-part-2 h2 {
  font-family: Figtree;
  font-size: 1.4rem;
  color: white;
  font-weight: 300;
  width: 30vw;
}

#section-9 .box-9-part-2 button {
  font-family: Figtree;
  padding: var(--btn-padding);
  border-radius: var(--btn-radious);
  border: none;
  font-size: 1rem;
  width: fit-content;
}

#section-10 {
  height: 150vh;
  width: 100%;
  background-color: rgb(159, 100, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0 1.5rem 0;
  position: relative;
}
#section-10 .part-10-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.part-10-1 button {
  font-family: Midnight;
  font-size: 3.8rem;
  transform: rotate(-2deg);
  border-radius: 8px;
  background-color: rgb(255, 203, 150);
}

.part-10-1 h1 {
  font-family: Midnight;
  font-size: 5rem;
  color: white;
}
.part-10-1 p {
  font-family: Midnight;
  font-size: 1rem;
  color: white;
}

#section-10 .part-10-2 {
  height: 90vh;
  width: 95%;
  background-color: rgb(255, 203, 150);
  border-radius: 15px;
  display: flex;
}

.part-10-2 .part-10-21 {
  height: 100%;
  width: 50%;
}

.part-10-21 img {
  position: absolute;
  height: 83vh;
  top: 49vh;
  left: 0;
}
.part-10-2 .part-10-22 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding-left: 5rem;
}

#btn-part-10-2-1 {
  width: fit-content;
  font-family: Midnight;
  font-size: 3.8rem;
  background-color: rgb(240, 159, 84);
  border-radius: 8px;
  padding: 0 0.2rem;
  transform: rotate(-2deg);
}

.part-10-22 h1 {
  font-family: Reckless;
  font-size: 4.2rem;
  font-weight: 300;
}
.part-10-22 p {
  font-family: Figtree;
  font-size: 1.24rem;
  font-weight: 300;
  width: 30vw;
}

#btn-part-10-2-2 {
  width: fit-content;
  padding: var(--btn-padding);
  border-radius: var(--btn-radious);
  font-size: 1rem;
}

#section-11 {
  height: 140vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.part-11-1 h1 {
  font-family: Reckless;
  font-size: 4rem;
  font-weight: 300;
  width: 65vw;
}

.container-11 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

}

.container-11::-webkit-scrollbar{
  display: none;
}

.box-11-1 {
  height: 100%;
  width: 320px;
  min-width: 320px;

  border: 1px solid black;
  border-radius: 13px;
  flex-shrink: 0;
}

.box-11-1 .box-part-11-1{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-part-11-1 img{
  height: 280px;
}

.box-11-1 .box-part-11-2{
height: 20%;
width: 100%;
display: flex;
align-items: center;
padding: 1rem;
font-family: Figtree;
letter-spacing: 0.1rem;
background-color: rgb(192, 219, 255);
border-radius: 13px;
}

.part-11-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
}
.line-11-2{
  display: flex;
  gap: 1rem;
}
.line-11-2 .line-11-1{
    height: 0;
    width: 4vw;
    border: 1px solid black;
}

.part-11-2 button{
  padding: var(--btn-padding);
  color: white;
  background-color: blueviolet;
  border-radius: var(--btn-radious);
  font-family: Figtree;
  font-size: 1.2rem;
}

@media (max-width: 1138px) {
  .nav-part-1 {
    display: none;
  }

  nav #hamburger {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
  }

  .nav-part-2 {
    width: 12vh;
    padding-left: 0rem;
  }

  .nav-part-3 h5 {
    display: none;
  }

  #section-1 .container-1 {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    gap: 0.5rem;
  }

  #section-1 .container-1 h1 {
    font-size: clamp(3rem, 3vw, 1rem);
    width: 50vw;
  }
  #section-1 .container-1 p {
    width: 90vw;
  }
  #section-1 .container-1 button {
    width: 93vw;
  }

  /* section 2 */
  #section-2 {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  #section-2 h1 {
    font-family: Reckless;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.6rem;
    width: 35vw;
    text-align: center;
  }

  #section-2 button {
    position: absolute;
    left: 5vh;
    bottom: 5vh;
    padding: 0 0.2rem;
    font-size: 2.5rem;
    font-family: Midnight;
    font-weight: 900;
    border-radius: 10px;
    background-color: rgb(218, 174, 234);
    transform: rotate(-3deg);
  }

  /* section 3 */
}

@media (max-width: 431px) {
  #section-1 .container-1 {
    align-self: center;
    gap: 0.5rem;
  }

  #section-1 .container-1 h1 {
    font-family: Reckless;
    font-size: clamp(3rem, 3vw, 1rem);
    width: 80vw;
  }
  #section-1 .container-1 p {
    font-family: Figtree;
    width: 95vw;
  }
  #section-1 .container-1 button {
    width: 90vw;
  }

  /* section 2 */
  #section-2 {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  #section-2 h1 {
    font-family: Reckless;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4rem;
    width: 69vw;
    text-align: center;
  }

  #section-2 button {
    position: absolute;
    left: 5vh;
    bottom: 5vh;
    padding: 0 0.2rem;
    font-size: 2rem;
    font-family: Midnight;
    font-weight: 900;
    border-radius: 10px;
    background-color: rgb(218, 174, 234);
    transform: rotate(-3deg);
  }
  /* section 3 */
  #section-3 {
    height: 70vh;
    width: 100%;
    display: flex;
    padding-left: 2.4rem;
    gap: 1.4rem;
    /* overflow: scroll; */
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  /* section 4 */
  #section-4 {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-bottom: 2px solid black;
  }

  /* section 5 */

  #section-5 {
    min-height: 100vh;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-left: 1.3rem;
    padding-bottom: 5rem;
  }

  .text-1 {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .text-1 button {
    width: fit-content;
    font-family: Midnight;
    font-size: 2.8rem;
    padding: 0 0.2rem;
    border-radius: 8px;
    transform: rotate(-2deg);
    background-color: rgb(255, 127, 49);
  }
  .text-1 h1 {
    font-family: Reckless;
    font-weight: 300;
    font-size: 2rem;
    width: 75vw;
  }
  .text-1 input {
    font-family: Reckless;
    width: fit-content;
    font-size: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: transparent;
  }

  .text-2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .text-2 h4 {
    font-weight: 300;
  }

  .text-21 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .text-22 span {
    font-family: Reckless;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: rgb(218, 234, 255);
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    width: fit-content;
    justify-content: space-around;
  }

  /* section 6 */

  #section-6 {
    padding-top: 10rem;
    background-image: url("https://www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=2560%22%20alt=%22Aerial%20view%20of%20a%20dense%20forest%20with%20green%20trees%22%20srcset=%22//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=600%20600w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=900%20900w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=1200%201200w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=1600%201600w,%20//www.twoleavestea.com/cdn/shop/files/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp?v=1771592855&amp;width=2000%202000w%22%20width=%222560%22%20loading=%22eager%22%20class=%22scrolling-media__media%22%20fetchpriority=%22high%22%20style=%22translate:%20none;%20rotate:%20none;%20scale:%20none;%20transform:%20translate3d(0px,%20-142.49px,%200px);");
    background-position: center;
    background-size: cover;
    min-height: 200vh;
    width: 100%;
    position: relative;
     background-repeat: no-repeat;
     z-index: 1;
  }

  #section-6 .btn-6 {
    font-family: Midnight;
    font-size: 2.8rem;
    padding: 0 0.2rem;
    background-color: rgb(162, 201, 252);
    border-radius: 8px;
    position: absolute;
    left: 28vw;
    transform: rotate(-2deg);
    top: 30vh;
  }

  #section-6 .header-text-1 {
    position: absolute;
    color: white;
    top: 50vh;
    left: 35vw;
    font-family: Midnight;
    font-size: 6rem;
    width: 30vw;
    line-height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #section-6 .header-text-2 {
    position: absolute;
    color: white;
    top: 80vh;
    left: 8vw;
    width: 83vw;
    font-family: Reckless;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.2rem;
    text-align: center;
  }
  .logo-1 {
    position: absolute;
    height: 10vh;
    bottom: 25%;
    left: 5vw;
  }
  .logo-2 {
    position: absolute;
    height: 10vh;
    bottom: 25%;
    left: 40vw;
  }
  .logo-3 {
    position: absolute;
    height: 10vh;
    bottom: 25%;
    right: 5vw;
  }

  #section-6 .btn-7 {
    position: absolute;
    bottom: 10%;
    padding: var(--btn-padding);
    border-radius: var(--btn-radious);
    font-size: 1rem;
    left: 29vw;
  }

  /* section 7 */

  #section-7 {
    min-height: 20vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    padding-left: 1rem;
  }

  #section-7 button {
    width: fit-content;
    padding: 0 0.1rem;
    font-family: Midnight;
    font-size: 2.5rem;
    transform: rotate(-2deg);
    background-color: rgb(115, 188, 37);
    border-radius: 10px;
  }

  #section-7 h1 {
    display: none;
  }

  /* section 8 */

  #section-8 {
    height: 80vh;
    width: 100%;
    padding: 0 0rem;
    /* overflow-x: auto; */
    overflow-y: hidden;
    padding: 1rem;
  }

  .box-8 {
    display: flex;
    gap: 1rem;
    width: max-content;
  }

  .box-81 {
    height: 70vh;
    width: 300px;
    border: 1px solid black;
    border-radius: 11px;
    position: relative;
    flex-shrink: 0;
  }

  .box-81 .part-1-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 5rem;
    left: 2.4rem;
  }

  .part-1-box h1 {
    font-family: Reckless;
    font-weight: 300;
    text-align: center;
    width: 55vw;
    font-size: 2rem;
  }

  /* section 9 */
  #section-9 {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #section-9 .box-9-part-1 {
    height: 50%;
    width: 50%;
    /* overflow: hidden; */
  }

  #section-9 .box-9-part-1 img {
    height: 90vh;
    width: 100vw;
  }

  #section-9 .box-9-part-2 {
    height: 50%;
    width: 100vw;
    background-color: rgb(42, 40, 87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 0px;
  }

  #section-9 .box-9-part-2 h1 {
    font-family: Reckless;
    font-size: 2.4rem;
    color: white;
    font-weight: 300;
    text-align: center;
  }
  #section-9 .box-9-part-2 h2 {
    display: none;
  }

  #section-9 .box-9-part-2 button {
    font-family: Figtree;
    padding: var(--btn-padding);
    border-radius: var(--btn-radious);
    border: none;
    font-size: 1rem;
    width: fit-content;
  }

  /* section 10 */

  #section-10 {
    height: 180vh;
    width: 100%;
    background-color: rgb(159, 100, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0 1.5rem 0;
    position: relative;
  }
  #section-10 .part-10-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }

  .part-10-1 button {
    display: none;
    font-family: Midnight;
    font-size: 3.8rem;
    transform: rotate(-2deg);
    border-radius: 8px;
    background-color: rgb(255, 203, 150);
  }

  .part-10-1 h1 {
    font-family: Midnight;
    font-size: 4rem;
    color: white;
    text-align: center;
  }
  .part-10-1 p {
    font-family: Midnight;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
  }

  #section-10 .part-10-2 {
    height: 110vh;
    width: 95%;
    background-color: rgb(255, 203, 150);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }

  .part-10-2 .part-10-21 {
    height: 40%;
    width: 100%;
  }

  .part-10-21 img {
    position: absolute;
    height: 53vh;
    top: 49vh;
    left: -20vh;
  }
  .part-10-2 .part-10-22 {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
  }

  #btn-part-10-2-1 {
    width: fit-content;
    font-family: Midnight;
    font-size: 2.8rem;
    background-color: rgb(240, 159, 84);
    border-radius: 8px;
    padding: 0 0.2rem;
    transform: rotate(-2deg);
  }

  .part-10-22 h1 {
    font-family: Reckless;
    font-size: 2.5rem;
    font-weight: 300;
    width: 38vw;
    text-align: center;
  }
  .part-10-22 p {
    font-family: Figtree;
    font-size: 1.24rem;
    font-weight: 300;
    text-align: center;
    width: 60vw;
  }

  #btn-part-10-2-2 {
    width: fit-content;
    padding: 1rem 3.5rem;
    border-radius: var(--btn-radious);
    font-size: 1rem;
  }

  /* section 11 */

  #section-11 {
  height: 140vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.part-11-1 h1 {
  font-family: Reckless;
  font-size:2rem;
  font-weight: 300;
  width: 85vw;
}

.container-11 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 1rem;
}

.container-11::-webkit-scrollbar{
  display: none;
}

.box-11-1 {
  height: 100%;
  width: 320px;
  min-width: 320px;

  border: 1px solid black;
  border-radius: 13px;
  flex-shrink: 0;
}

.box-11-1 .box-part-11-1{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-part-11-1 img{
  height: 280px;
}

.box-11-1 .box-part-11-2{
height: 20%;
width: 100%;
display: flex;
align-items: center;
padding: 1rem;
font-family: Figtree;
letter-spacing: 0.1rem;
background-color: rgb(192, 219, 255);
border-radius: 13px;
}

.part-11-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
}
.line-11-2{
  display: flex;
  gap: 1rem;
}
.line-11-2 .line-11-1{
    height: 0;
    width: 4vw;
    border: 1px solid black;
}

.part-11-2 button{
  padding: var(--btn-padding);
  color: white;
  background-color: blueviolet;
  border-radius: var(--btn-radious);
  font-family: Figtree;
  font-size: 1.2rem;
}

}
